name: Tests with Allure History

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: Choose target
        type: choice
        default: first_test
        options:
          - first_test
          - second_test

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Download previous history
        uses: actions/download-artifact@v4
        with:
          name: allure-history
          path: allure-results/history
        continue-on-error: true

      - name: Run first test
        if: ${{ github.event.inputs.deployment_target == 'first_test' }}
        run: pytest tests/test_effective-mobile.py::test_vacancy --alluredir=allure-results

      - name: Run second test
        if: ${{ github.event.inputs.deployment_target == 'second_test' }}
        run: pytest tests/test_effective-mobile.py::test_review --alluredir=allure-results

      - name: Save allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 5

  generate-report:
    runs-on: ubuntu-latest
    needs: run-tests

    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Allure
        run: |
          wget -q https://github.com/allure-framework/allure2/releases/download/2.24.1/allure-2.24.1.tgz
          tar -zxvf allure-2.24.1.tgz -C /opt/
          ln -s /opt/allure-2.24.1/bin/allure /usr/bin/allure

      - name: Download allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: Generate report with history
        run: |
          rm -rf _site
          allure generate allure-results -o _site --clean
          ls -R _site

      - name: Save history for next runs
        uses: actions/upload-artifact@v4
        with:
          name: allure-history
          path: _site/history
          retention-days: 5

      - name: Upload Report Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    runs-on: ubuntu-latest
    needs: generate-report

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4